<section>
    <fr-thanadev-baalreturn-views-playerview data-id="_playerView" id="playerView"></fr-thanadev-baalreturn-views-playerview>
    <div id="secondPart" class="sideToSide">
        <fr-thanadev-baalreturn-views-enemyview data-id="_enemyView" id="enemyView" style="border: solid 1px black"></fr-thanadev-baalreturn-views-enemyview>
        <img src="" alt="" id="nodeImage"/>
    </div>
</section>
<section>
    <fr-thanadev-baalreturn-views-nodeview data-id="_nodeView"></fr-thanadev-baalreturn-views-nodeview>
</section>